{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

  <div class="block mb-20">
    <h2 class="pb-30">Page de profil</h2>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary mr-10">Mettre à jour</button>
    {{ form_end(form )}}
  </div>

  <div class="block mb-20">
    <h3 class="pb-30">Mes abonnés</h3>
    <ul>
      {% for follower in app.user.followers %}
        <li>
          <a href="{{ path('user', {id: follower.id}) }}">
            {{ follower.firstname }} {{ follower.lastname }}
          </a>
        </li>
      {% else %}
        <li>Aucun abonné.</li>
      {% endfor %}
    </ul>
  </div>

  <div class="block mb-20">
    <h3 class="pb-30">Je suis</h3>
    <ul>
      {% for followed in app.user.followedUsers %}
        <li class="d-flex justify-content-between align-items-center">
          <a href="{{ path('user', {id: followed.id}) }}">
            {{ followed.firstname }} {{ followed.lastname }}
          </a>
          <a href="{{ path('user_unfollow', {id: followed.id}) }}" class="btn btn-sm btn-danger">
            Ne plus suivre
          </a>
        </li>
      {% else %}
        <li>Tu ne suis personne.</li>
      {% endfor %}
    </ul>
  </div>


  <div class="block mb-20">
    <h3 class="pb-30">Mes questions</h3>
    <ul>
      {% for question in app.user.questions %}
      <li>{{ question.title }}</li>
      {% endfor %}
    </ul>
  </div>

    <div class="block">
    <h3 class="pb-30">Mes réponses</h3>
    <ul>
      {% for comment in app.user.comments %}
      <li>{{ comment.content | slice(0, 50) }} ...</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}